* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    grid-template-rows: 1fr 5fr;
    background-color: black;
}

.sidebar {
    background-color: lightblue;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 6;
}

.nav1,
.nav2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    background-color: white;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
}

.content {
    background-color: lightgray;
    display: grid;
    grid-area: 2 / 2 / 6 / 6;
}