* {
    margin: 0;
    padding: 0;
}

.heading, 
.content-heading {
    margin: 0;
    display: grid;
    margin-block-start: 0;
    margin-block-end: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr; 
    grid-template-rows: 1fr 5fr;
    background-color: black;
}

.sidebar {
    background-color: lightblue;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 6;
    align-items: start;
}

.nav1,
.nav2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    background-color: white;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
}

.header-top {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.search {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

input#site-search {
    display: grid;
    border-radius: 10px;
    border-color: transparent;
    background-color: lightgray;
}

.profile-menu {
    display: grid;
    justify-content: end;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.profile-info {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.menu-action {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.header-btns {
    padding: 5px 20px;
    border-radius: 20px;
    border-width: 0;
    background-color: lightblue;
}

.content {
    background-color: lightgray;
    display: grid;
    grid-area: 2 / 2 / 6 / 6;
    grid-template-columns: 3fr 2fr;
}

.projects {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.project-cards {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.announcements {
    display: grid;
    
}

.announcement-card {
    background-color: white;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.trending-container {
    background-color: white;
    display: grid;
}

.trending-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
}